PORT=8000
MONGODB_URI=mongodb://localhost:27017/resume_verifier
PINATA_API_KEY=
PINATA_API_SECRET=
RPC_URL=http://127.0.0.1:8545
ALCHEMY_AMOY_URL=
PRIVATE_KEY=
CONTRACT_ADDRESS=
CONTRACT_ABI_PATH=backend/abi/ResumeVerifier.json
